{% load crispy_forms_tags %}
{% block content %}
{% if not file %}
<div class='row text-center'>
    <div class='col'>
        <h1 class="mt-2 mb-3" style="text-align: center;">Model Training Portal</h1>  
    </div>
</div>

<div class='row text-center '>
    <div class='col-lg-3 mx-auto'>
        <form class='form' align='center' enctype='multipart/form-data' action='' method='post'>
            {% csrf_token %}
            {{form.customer_name|as_crispy_field}}
            {{form.hidden_size|as_crispy_field}}
            {{form.epochs|as_crispy_field}}
            {{form.batch_size|as_crispy_field}}
            {{form.learning_rate|as_crispy_field}}
            {{form.intent}}
             <button type='submit' class='btn btn primary mt-2' 
             style="background-color: #800080; border-color:green; color: white">Train</button>
            <button type='reset' class='btn btn-primary mt-2' 
            style="background-color: white; border-color: red; color: black " >Reset</button>
        </form>
    </div>
</div>
{% elif file %}
<div class='row text-center'>
    <div class='col' style="text-align: center;">
        <h1 class="mt-2 mb-3" style="text-align: center;">Model Trained Successfully
        </h1> 
        <a type='button' class='btn btn primary mt-2' href={% url 'apis:training'  %} 
        style="background-color: #800080; border-color:green; color: white;">Train Another Model</a> 
    </div>
</div>
{% endif %}
{% endblock %}